		<footer>
			<div class="block">&copy; Copyright content</div>
			<div class="frames page90">
				<div class="cell50">Some Content</div>
				<div class="cell50">Social Links</div>
			</div>
		</footer>
</div>
</body>
</html>
