<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Test Project</title>
<link rel="stylesheet" href="css/easy-page-design-v1.0.css" type="text/css" media="all">
<link rel="stylesheet" href="css/custBuild.css" type="text/css" media="all">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
</head>
<body>
	<div class="document">
		<header>
			<div class="info">
				<marquee class="font-s">This is info content</marquee>
			</div>
			<nav>
				<div class="page90">
				<div class="frame-left30">
					<div class="logo">
						<img src="images/logo.png" height="60">
					</div>
				</div><!-- logo frame end -->
				<div class="frame-right70">
					<div class="menu-content">
						<ul class="menu-list">
							<li><a href="#">Option1</a></li>
							<li><a href="#">Option1</a></li>
							<li><a href="#">Option1</a></li>
							<li><a href="#">Option1</a></li>
							<li><a href="#">Option1</a></li>
							<li><a href="#">Option1</a></li>
							<li><a href="#">Option1</a></li>
							<li><a href="/form">Option1</a></li>
						</ul>
					</div>
				</div><!-- menu frame end -->
			</div>
			</nav>
			<div class="banner">
				<img src="images/banner.png" width="100%">
			</div>
		</header>
		