<%- include ("_header") %>
<div class="vspace"></div>

<section class="boxes block">
	<div class="cube200">
		<strong>Content Title</strong><br>
		<p>Some dummy content will be here to diaplay information.</p>
	</div>
	
	<div class="cube200">
		<strong>Content Title</strong><br>
		<p>Some dummy content will be here to diaplay information.</p>
	</div>
	
	<div class="cube200">
		<strong>Content Title</strong><br>
		<p>Some dummy content will be here to diaplay information.</p>
	</div>
	
	<div class="cube200">
		<strong>Content Title</strong><br>
		<p>Some dummy content will be here to diaplay information.</p>
	</div>
	
	<div class="cube200">
		<strong>Content Title</strong><br>
		<p>Some dummy content will be here to diaplay information.</p>
	</div>
</section>
<div class="vspace"></div>
<section class="block promotion">
	<div class="cube300 page90">
		<h2 align="center">Promotionl content will appear here</h2>
		<p><strong>Subtitle will be here.</strong></p>
	</div>
</section>
<%- include ("_footer") %>